*{
    margin: 0%;
    padding: 0%;
}
.Login {
position: relative;
  width: 100%;
  height: 100%;
}   
.login::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./MCOE_image.webp');
  background-size: cover;
  background-position: center;
  opacity: 0.5; /* Adjust this value (0 = transparent, 1 = opaque) */
  z-index: -1; /* Ensures the background stays behind content */
}
.body{
    background: #000;
}
.Post{
    border-radius: 5px;
    margin-top: 4px;
    padding-top: 4px;
    padding-bottom: 3px;
    background-color: rgb(255, 255, 255);
}
.LikeButton{
    border: none;
}
.Caption{
    font-size: small;
}
.CaptionName{
    font-size: small;
}
.CaptionBox{
    margin: 2px;
    padding: 2px;
}
.CommentBox{
    border: none;
}
.login{
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin: 10%;
    justify-self: center;

}
.ProfileCaption{
    font-size: small;
}